<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container">

    <div class="Middle">
      <h1 class="cover-heading">Simple Surveys</h1>
      <p class="lead">create you are own survey !.</p>
      <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary">Create Survey</a>
      </p>
    </div>
    
  </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>